{% extends "base.html" %}
{% block title %}
提交竞赛信息
{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>提交竞赛信息</h1>
    </div>
    <div class="row">
        <p>请将竞赛信息填写在下面的表单中，并点击提交按钮，通过审核后将会显示在主页。如有问题请联系<a href="mailto:nk_datajobs@163.com">nk_datajobs@163.com</a>。<p>
        <form action="{% url 'jobs:contestpoststatus' %}" method="post">
{% csrf_token %}
    <div class="input-group">
        <span class="input-group-addon">竞赛名称*</span>
        <input type="text" class="form-control" name="contestName" placeholder="竞赛名称" required="required">
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon">竞赛简介*</span>
        <textarea rows="6" class="form-control" name="contestInfo" placeholder="竞赛简介(限2000字以内)" required="required"></textarea>
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon">竞赛网址</span>
        <input type="url" class="form-control" name="website" placeholder="http://example.com">
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-5">
        <input type="submit" class="btn btn-default" value="提交">
        </div>
    </div>
</form>

    </div><!--/row-->
{% endblock %}
